#demo{
  width: 100%;
  height: 100%;
}
#frame-container-page{
  height: 100%;
  width: 100vw;

  .frame-btn-icon{
    cursor: pointer;
  }
  .logo {
    height: 64px;
    position: relative;
    line-height: 64px;
    padding-left: (80px - 32px) / 2;
    transition: all 0.3s;
    // background: #404040;
    overflow: hidden;
    img {
      display: inline-block;
      vertical-align: middle;
      height: 32px;
    }
    h1 {
      color: white;
      display: inline-block;
      vertical-align: middle;
      font-size: 20px;
      margin: 0 0 0 12px;
      font-family: 'Myriad Pro', 'Helvetica Neue', Arial, Helvetica, sans-serif;
      font-weight: 400;
    }
  }

  .logo-only-name{
    height: 64px;
    position: relative;
    line-height: 64px;
    transition: all 0.3s;
    // background: #404040;
    overflow: hidden;
    text-align: center;
    .app-name{
      margin: 10px;
      background-color: hsla(0,0%,100%,.5);
      text-align: center;
      height: 40px;
      line-height: 40px;
      border-radius: 5px;
      color: white;
      font-size: 20px;
    }
    
  }

  .sider-user-area{
    height: 48px;
    position: relative;
    line-height: 48px;
    padding-left: (80px - 32px) / 2;
    transition: all 0.3s;
    overflow: hidden;
    .sider-avatar {
      display: inline-block;
      vertical-align: middle;
      height: 32px;
    }
    .sider-user-name{
      color:#fff;
      display: inline-block;
      vertical-align: middle;
      font-weight: 18px;
      height: 64px;
    }
  }
  
  .sider {
    min-height: 100vh;
    box-shadow: 2px 0 6px rgba(0, 21, 41, 0.35);
    position: relative;
    z-index: 10;
    &.ligth {
      background-color: white;
      .logo {
        background: white;
        h1 {
          color: #002140;
        }
      }
    }
  }
  
  .header{
    height: 64px;
    padding: 0 12px 0 0;
    background: #fff;
    box-shadow: 0 1px 4px rgba(0, 21, 41, .08);
    position: relative;
  }
  .trigger {
    font-size: 16px;
    line-height: 64px;
    cursor: pointer;
    transition: all .3s, padding 0s;
    padding: 0 24px;
  }
}

#header-page{
  min-height: 100%;
  width: 100vw;

  .ant-layout-header {
    padding-left: 12px;
  }
  
  .ant-menu-dark.ant-menu-horizontal {
    height: 64px;
    line-height: 64px;
  }
  .logo {
    height: 64px;
    position: relative;
    line-height: 64px;
    float: left;
    margin-right: 22px;
    
    img {
      display: inline-block;
      vertical-align: middle;
      height: 32px;
    }
    h1 {
      color: white;
      display: inline-block;
      vertical-align: middle;
      font-size: 20px;
      margin: 0 0 0 12px;
      font-family: 'Myriad Pro', 'Helvetica Neue', Arial, Helvetica, sans-serif;
      // font-weight: 600;
    }
  }
  .logo-only-name{
    height: 64px;
    width:200px;
    padding: 2px;
    position: relative;
    line-height: 64px;
    float: left;
    
    .app-name{
      background: #2a2b2b;
      text-align: center;
      height: 40px;
      width:180px;
      display: inline-block;
      line-height: 40px;
      border-radius: 5px;
      color: white;
      font-size: 20px;
    }
    
  }
}
